/* SPDX-FileCopyrightText: 2026 Nikolay Govorov */
/* SPDX-License-Identifier: MPL-2.0 */

.code {
    margin: 0;
    padding: .2em .4em;
    white-space: break-spaces;
    background-color: var(--color-code-bg);
}
